{% extends "ticketSales/layout.html" %}
{% block titlepage %}
  فرم ورود
{% endblock %} 
{% block mainContent %} 
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <form action="" method="POST" class="form">
      {% csrf_token %}
      {% if errorMessage%}
        <p class="alert alert-danger" role="alert">
          {{username}} {{errorMessage}}
        </p>
      {% endif %}
      <h3>اطلاعات کاربری خود را وارد نمایید</h3>
      <label class="label-control">نام کاربری:</label>
      <input type="text" id="username" name="username" placeholder="نام کاربری" class="form-control">
      <label class="label-control">رمز عبور:</label>
      <input type="password" id="password" name="password" placeholder="رمز" class="form-control">
      <input type="submit" value="ورود" class="btn btn-primary mt-3">
    </form>
  </div>
  <div class="col-md-3"></div>
{% endblock %}
