{% extends "ticketSales/layout.html" %}
{% block titlepage %}
  پروفایل  
{% endblock %} 
{% block mainContent %} 
  <div class="row mt-3">
    <div class="col-md-8">
      <p class="border"> <span class="title">نام و نام خانوادگی :</span> {{profile.user.get_full_name}}</p>
      <p class="border"><span class="title">جنسیت : </span>{{profile.get_Gender_display}}</p>
      <p class="border"><span class="title">مقدار اعتبار : </span>{{profile.Credit}}</p>
      <ul class="btnul">
        <li><a class="btn btn-primary" href="/accounts/profileEdit">ویرایش پروفایل</a></li>
      </ul>
    </div>
    <div class="col-md-4">
      <img class="img-thumbnail" src="{{profile.ProfileImage.url}}" >
    </div>
  </div>
{% endblock %}
