{% extends "ticketSales/layout.html" %}

{% block titlepage %}
  فرم ثبت نام
{% endblock %}

{% block mainContent %}

  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="mainborder">
      <div class="row">
        <div class="col-md-6">
          <p class="mylable">نام: {{formsData.first_name}}</p>
          <p class="mylable">فامیلی: {{formsData.last_name}}</p>
          <p class="mylable">جنسیت: {{formsData.Gender}}</p>
          <p class="mylable">اعتبار: {{formsData.Credit}}</p>
        </div>
        <div class="col-md-6">
          <p class="mylable">رایانامه: {{formsData.email}}</p>
          <p class="mylable">نام کاربری: {{formsData.username}}</p>
          <p class="mylable">رمز عبور: {{formsData.password}}</p>
          {{formsData.ProfileImage}}
        </div>
      </div>
    </div>
    <div class="bottonborder">
      <button type="submit" class="btn btn-success">ثبت نام</button>
    </div>

  </form>

{% endblock %}