{% extends "ticketSales/layout.html" %}
{% block titlepage %}
  لیست سانس ها 
{% endblock %} 
{% block mainContent %} 
  {% if timeList %} 
    {% for time in timeList %}
      <div class="col-md-2">
        <a>
          <div class="timeBox">
            <h2>{{ time.concertModel.Name }}</h2>
            <p>{{time.concertModel.SingerName}}</p>
            <p>{{time.locationModel.Name}}</p>
            <p>{{time.get_jalali_date}}</p>
            <div 
            
            class="
            
            {% if time.Status == time.Start %}
              btn btn-success
            
            {% elif time.Status == time.End %}
              btn btn-danger
            {% elif time.Status == time.Cancel %}
              btn btn-secondary
            {% elif time.Status == time.Sales %}
              btn btn-warning
            {% endif %}
            ">
              {{time.get_Status_display}}
            </div>
          </div>
        </a>
      </div>
    {% endfor %} 
  {% endif %} 
{% endblock %}
